@page
@model world_of_data.Pages.Professors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
<!-- Second Sorting Technique with a SelectList -->
<form>
	<select asp-for="CurrentSort" asp-items="Model.SortList">
		<option value="">sort by...</option>
	</select>
	<button type="submit">Sort</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    // Alternate sort order
                    var firstSort = "ilvl_asc";
                    if (Model.CurrentSort == "ilvl_asc")
                    {
                        firstSort = "ilvl_desc";
                    }
                }
                <!-- FIXME: This will forget the current pagenum! -->
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClasses[0].Characters[0].charName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WoWClasses[0].classSpec)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> 

<table class="table">
    <thead>
        <tr>
            <th>Character Name</th>
            <th>Realm</th>
            <th>iLVL</th>
            <th>Arena2v2</th>
            <th>Arena3v3</th>
            <th>Mythic Score</th>
            <th>Class</th>
            <th>Specialization</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wowClass in Model.WoWClasses) {
            @foreach (var character in wowClass.Characters) {
                <tr>
                    <td>@Html.DisplayFor(model => character.charName)</td>
                    <td>@Html.DisplayFor(model => character.Realm)</td>
                    <td>@Html.DisplayFor(model => character.iLVL)</td>
                    <td>@Html.DisplayFor(model => character.Arena2v2)</td>
                    <td>@Html.DisplayFor(model => character.Arena3v3)</td>
                    <td>@Html.DisplayFor(model => character.MythicScore)</td>
                    <td>@Html.DisplayFor(model => wowClass.className)</td>
                    <td>@Html.DisplayFor(model => wowClass.classSpec)</td>
                </tr>
            } 
        }
    </tbody>
</table>
<hr />
@{
    // If we are on page 1, prevDisabled will be set to the "disabled" class
    // otherwise, it will be empty. So our previous button will be enabled or disabled based on this logic
    var prevDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <!-- FIXME: These buttons will forget your current sort order! -->
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>
