@page
@model world_of_data.Pages.Professors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
<!-- Second Sorting Technique with a SelectList -->
<form>
	<select asp-for="CurrentSort" asp-items="Model.SortList">
		<option value="">sort by...</option>
	</select>
	<button type="submit">Sort</button>
</form>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @{
                    // Alternate sort order
                    var firstSort = "first_asc";
                    if (Model.CurrentSort == "first_asc")
                    {
                        firstSort = "first_desc";
                    }
                }
                <!-- FIXME: This will forget the current pagenum! -->
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0])</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor[0].LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> *@
@* foreach(IItem i in BunchOffItems.SelectMany(s => s.Items)){ *@

@foreach (var wowClass in Model.WoWClasses) {
        <tr>
            <td>
                @Html.DisplayFor(model => wowClass.Characters[0].charName)
            </td>
            <td>
                @Html.DisplayFor(model => wowClass.Characters[0].Realm)
            </td>
            <td>
                @Html.DisplayFor(model => wowClass.Characters[0].iLVL)
            </td>
            <td>
                @Html.DisplayFor(model => wowClass.Characters[0].Arena2v2)
            </td>
            <td>
                @Html.DisplayFor(model => wowClass.Characters[0].Arena3v3)
            </td>
            <td>
                @Html.DisplayFor(model => wowClass.Characters[0].MythicScore)
            </td>
            @* <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
<hr />
@{
    // If we are on page 1, prevDisabled will be set to the "disabled" class
    // otherwise, it will be empty. So our previous button will be enabled or disabled based on this logic
    var prevDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <!-- FIXME: These buttons will forget your current sort order! -->
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>
