@page
@model world_of_data.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Players";
}

<h1>Players Information</h1>

<p>
    <a asp-page="/index">Back to Classes</a>
</p>

<form>
	<select asp-for="CurrentSort" asp-items="Model.SortList">
		<option value="">sort by...</option>
	</select>
	<button type="submit">Sort</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].charName) </th>
            <th> @Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].Realm)</th>
            <th>
                @{
                    // Alternate sort order
                    var firstSort = "ilvl_asc";
                    if (Model.CurrentSort == "ilvl_asc")
                    {
                        firstSort = "ilvl_desc";
                    }
                }
                <!-- FIXME: This will forget the current pagenum! -->
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].iLVL)</a>
            </th>

            <th>
                @{
                    // Alternate sort order
                    firstSort = "arena2v2_asc";
                    if (Model.CurrentSort == "arena2v2_asc")
                    {
                        firstSort = "arena2v2_desc";
                    }
                }
                <!-- FIXME: This will forget the current pagenum! -->
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].Arena2v2)</a>
            </th>

            <th>
                @{
                    // Alternate sort order
                    firstSort = "arena3v3_asc";
                    if (Model.CurrentSort == "arena3v3_asc")
                    {
                        firstSort = "arena3v3_desc";
                    }
                }
                <!-- FIXME: This will forget the current pagenum! -->
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].Arena3v3)</a>
            </th>

            <th>
                @{
                    // Alternate sort order
                    firstSort = "mythic_asc";
                    if (Model.CurrentSort == "mythic_asc")
                    {
                        firstSort = "mythic_asc";
                    }
                }
                <!-- FIXME: This will forget the current pagenum! -->
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].MythicScore)</a>
            </th>
            <th> @Html.DisplayNameFor(model => model.WoWClass[0].className) </th>
            <th> @Html.DisplayNameFor(model => model.WoWClass[0].classSpec)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wowClass in Model.WoWClass) {
            @foreach (var character in wowClass.Characters) {
                <tr>
                    <td>@Html.DisplayFor(model => character.charName)</td>
                    <td>@Html.DisplayFor(model => character.Realm)</td>
                    <td>@Html.DisplayFor(model => character.iLVL)</td>
                    <td>@Html.DisplayFor(model => character.Arena2v2)</td>
                    <td>@Html.DisplayFor(model => character.Arena3v3)</td>
                    <td>@Html.DisplayFor(model => character.MythicScore)</td>
                    <td>@Html.DisplayFor(model => wowClass.className)</td>
                    <td>@Html.DisplayFor(model => wowClass.classSpec)</td>
                </tr>
            } 
        }
    </tbody>
</table>
<hr />
@{
    // If we are on page 1, prevDisabled will be set to the "disabled" class
    // otherwise, it will be empty. So our previous button will be enabled or disabled based on this logic
    var prevDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <!-- FIXME: These buttons will forget your current sort order! -->
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>
