@page
@model world_of_data.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Players";
}

<h1>Players Information</h1>

<p>
    <a asp-page="/index">Back to Classes</a>
</p>

<form>
	<select asp-for="CurrentSort" asp-items="Model.SortList">
		<option value="">filter by...</option>
	</select>
	<button type="submit">Filter</button>
</form>

<table class="table">
    <thead>
        <th>@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].charName)</th>
        <th>@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].Realm)</th>
        <th>@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].iLVL)</th>
        <th>@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].Arena2v2)</th>
        <th>@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].Arena3v3)</th>
        <th>@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].MythicScore)</th>
        <th>@Html.DisplayNameFor(model => model.WoWClass[0].className)</th>
        <th>@Html.DisplayNameFor(model => model.WoWClass[0].classSpec)</th>
        @* <th>
            @{
                // Alternate sort order
                var firstSort = "name_asc";
                if (Model.CurrentSort == "name_asc")
                {
                    firstSort = "name_desc";
                }
            }
            <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].charName)</a>
        </th>
        
        <th>
            @{
                // Alternate sort order
                firstSort = "realm_asc";
                if (Model.CurrentSort == "realm_asc")
                {
                    firstSort = "realm_desc";
                }
            }
            <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].Realm)</a>
        </th>

        <th>
            @{
                // Alternate sort order
                firstSort = "ilvl_asc";
                if (Model.CurrentSort == "ilvl_asc")
                {
                    firstSort = "ilvl_desc";
                }
            }
            <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].iLVL)</a>
        </th>

        <th>
            @{
                // Alternate sort order
                firstSort = "arena2v2_asc";
                if (Model.CurrentSort == "arena2v2_asc")
                {
                    firstSort = "arena2v2_desc";
                }
            }
            <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].Arena2v2)</a>
        </th>

        <th>
            @{
                // Alternate sort order
                firstSort = "arena3v3_asc";
                if (Model.CurrentSort == "arena3v3_asc")
                {
                    firstSort = "arena3v3_desc";
                }
            }
            <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].Arena3v3)</a>
        </th>

        <th>
            @{
                // Alternate sort order
                firstSort = "mythic_asc";
                if (Model.CurrentSort == "mythic_asc")
                {
                    firstSort = "mythic_desc";
                }
            }
            <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].Characters[0].MythicScore)</a>
        </th>

        <th>
            @{
                // Alternate sort order
                firstSort = "name_asc";
                if (Model.CurrentSort == "name_asc")
                {
                    firstSort = "name_desc";
                }
            }
            <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].className)</a>
        </th>
        
        <th>
            @{
                // Alternate sort order
                firstSort = "spec_asc";
                if (Model.CurrentSort == "spec_asc")
                {
                    firstSort = "spec_desc";
                }
            }
            <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.WoWClass[0].classSpec)</a>
        </th> *@
    </thead>

    <tbody>
        @foreach (var wowClass in Model.WoWClass) {
            @foreach (var character in wowClass.Characters) {
                <tr>
                    <td>@Html.DisplayFor(model => character.charName)</td>
                    <td>@Html.DisplayFor(model => character.Realm)</td>
                    <td>@Html.DisplayFor(model => character.iLVL)</td>
                    <td>@Html.DisplayFor(model => character.Arena2v2)</td>
                    <td>@Html.DisplayFor(model => character.Arena3v3)</td>
                    <td>@Html.DisplayFor(model => character.MythicScore)</td>
                    <td>@Html.DisplayFor(model => wowClass.className)</td>
                    <td>@Html.DisplayFor(model => wowClass.classSpec)</td>
                </tr>
            } 
        }
    </tbody>
</table>
<hr />
