@page
@model IndexModel
@{
    ViewData["Title"] = "WoW Classes";
}

<h1> List of World of Warcraft Classes </h1>
@* <p>
    <a asp-page="Create">Create New</a>
</p> *@ 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].charName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.WoWClasses[0].classSpec)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].Realm)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.WoWClasses[0].classRole)
            </th> *@
        </tr>
    </thead>
    <tbody>
        
        @foreach (var c in Model.Characters) {

            <tr>
                <td>
                    @Html.DisplayFor(model => c.charName)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => c.classSpec)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => c.Realm)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => wowclass.classRole)
                </td> *@
            </tr>
        }

    </tbody>
</table>