@page
@model IndexModel
@{
    ViewData["Title"] = "WoW Classes";
}

<h1> List of World of Warcraft Classes </h1>
@* <p>
    <a asp-page="Create">Create New</a>
</p> *@ 
<table class="table">
    <thead>
        <tr>
            <th>Character Name</th>
            <th>Realm</th>
            <th>iLVL</th>
            <th>Arena2v2</th>
            <th>Arena3v3</th>
            <th>Mythic Score</th>
            <th>Class</th>
            <th>Specialization</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wowClass in Model.WoWClasses) {
            @foreach (var character in wowClass.Characters) {
                <tr>
                    <td>@Html.DisplayFor(model => character.charName)</td>
                    <td>@Html.DisplayFor(model => character.Realm)</td>
                    <td>@Html.DisplayFor(model => character.iLVL)</td>
                    <td>@Html.DisplayFor(model => character.Arena2v2)</td>
                    <td>@Html.DisplayFor(model => character.Arena3v3)</td>
                    <td>@Html.DisplayFor(model => character.MythicScore)</td>
                    <td>@Html.DisplayFor(model => wowClass.className)</td>
                    <td>@Html.DisplayFor(model => wowClass.classSpec)</td>
                </tr>
            } 
        }
    </tbody>
</table>
